.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.header-logo > img{
  height: 30px;
  margin-right: 20px;
}

.header-icons{
    display: flex;
    margin-right: 20px;
}

.header-icon > .MuiSvgIcon-root{
color:gray;
cursor: pointer;
font-size: xx-large;
padding: 5px 20px;
}
.header-icon > .MuiSvgIcon-root:hover{
    color: #b92b27;
    border-radius: 10px;
    background-color: lightgray;
}
.header-input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}
.header-input > input{
   background-color: transparent;
   outline: none;
   border: none;
   
}
.header-input > .MuiSvgIcon-root{
   color: gray;
}
.header-remain{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.header-remain > .header-avatar{
cursor: pointer;
}
.header-remain > .MuiSvgIcon-root{
    font-size: xx-large;
    color: gray;
    margin-left: 25px;
    cursor: pointer;
}
.header-remain > .MuiSvgIcon-root:hover{ 
    color:#b92b27;
}


.add-question{
    padding: 10px !important;
    color: white;
    margin-left: 25px;
    text-transform: inherit;
    background-color: #b92b27;
    cursor: pointer;
    border-radius: 20px;
}

.add-question :hover{
    color: #fff;
    background-color: #b92b27;
}

.modal-avatar-people{
    display: flex;
}

.button-end{
   display: flex !important;
   align-items: end !important;
   justify-content: end !important;
   margin-top: 0.5rem !important;
}



