.sidebar{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 0.2;
  
}

.sidebarOption{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}
.sidebarOption:hover {
background-color: lightgray;
   border-radius: 5px;
}
.sidebarOption > img {
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
}
.sidebarOption > p {
        color: gray;
        font-weight: 400;
        margin-left: 10px;
        
 }
 .sidebarOption > .MuiSvgIcon-root {
    color: gray;
    font-size: medium;
    margin-left: 20px;
    
 }

 .footer{
   width: auto;
 }
    
